span {
    font-weight: bold;
    font-size: x-large;
}

body    {
    font-family: sans-sheriff;
    margin: 0;
}

/* Under är designen på titeln "uppgift" */
header {
    background-color: gray;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Under är designen på punkterna */
ul.primary-navigation { 
    display: flex;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
    
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
}

section {
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    align-items: center;
}
section.section2 {
    position: relative;
    /* display: inline-block;
    padding: 10px 20px;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
    padding-bottom: 2rem; */
}

/* Hjälp området */
li {
    list-style: square;
    padding: 2rem;
}

div.Second {
    display: grid;
    font-style: italic;
}

a:link {
    color: blue;
}

a:visited {
    color: rgb(0, 0, 78);
}

footer {
    background-color: gray;
    
}
